    <div class="navbar navbar-default">
		<div class="container-fluid">
				  <div id="header" style="display:flex; align-items:center; justify-content:space-around;">
					    <div id="group1">
        					<h1>Title</h1>
					  	</div>
					  	<div id="group2">
							<div class="btn-toolbar">
								<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
								<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
							</div>
					    </div>
				  </div>
		</div>
    </div>